.one-elements-control__image-choices {
    border-spacing: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    height: auto;
}

.one-elements-control__image-choices label {
    padding: 3px;
    background: #fff !important;
    display: block;
}

.one-elements-control__image-choices .elementor-choices-label__wrapper {
    padding: 4px;
    border-radius: 2px;
    background: #c4c9d4;
    transition: .25s ease;
}

.one-elements-control__image-choices input:checked + label .elementor-choices-label__wrapper {
    background: #404e6d;
}

.elementor-repeater-row-item-title img {
    vertical-align: middle;
    margin: 5px 5px 5px 0px;
}






.elementor-panel .elementor-panel-category-title {
    text-transform: capitalize;
    font-size: 13px;
}

#elementor-panel-category-one_elements,
#elementor-panel-category-one_elements_single,
#elementor-panel-category-one_elements_archive {
    background: #23283a;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

#elementor-panel-category-one_elements .elementor-panel-category-title,
#elementor-panel-category-one_elements_single .elementor-panel-category-title,
#elementor-panel-category-one_elements_archive .elementor-panel-category-title {
    color: rgba(255, 255, 255, 0.85);
    padding-top: 20px;
}

#elementor-panel-category-one_elements .elementor-panel-category-items,
#elementor-panel-category-one_elements_single .elementor-panel-category-items,
#elementor-panel-category-one_elements_archive .elementor-panel-category-items {
    padding-bottom: 5px;
}

#elementor-panel-category-one_elements.elementor-active,
#elementor-panel-category-one_elements_single.elementor-active,
#elementor-panel-category-one_elements_archive.elementor-active {
    padding-bottom: 15px;
}

.elementor-panel .one-elements__elementor-element .icon {
    position: relative;
}

.elementor-panel .one-elements__elementor-element .icon .one-elements-widget-eicon:after {
    content: 'One';
    position: absolute;
    right: 7px;
    top: 6px;
    font-size: 14px;
    opacity: .3;
}

.elementor-panel .one-elements__elementor-element {
    background: #2d334a;
    transition: all .15s ease;
}

.elementor-panel .one-elements__elementor-element:hover {
    background: #d30c5c;
}

.elementor-panel .one-elements__elementor-element .icon,
.elementor-panel .one-elements__elementor-element:hover .icon,
.elementor-panel .one-elements__elementor-element .title,
.elementor-panel .one-elements__elementor-element:hover .title {
    color: rgba(255, 255, 255, 0.75);
}
/*For SVG Icons*/
.elementor-inline-svg-wrapper .elementor-inline-svg {
    font-size: 0;
    display: inline-block;
}
.elementor-inline-svg-wrapper .elementor-inline-svg > svg {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    min-width: 20px;
}